<div class="container-listas">     
    <div class="row">

                <nav class="circular-menu">

                <div class="circle">
                     {{#each escalas }}   
                            <a href="list-companies-escalas-kiddle/{{_id}}/{{name}}"><img src="/upload/{{image}}" class="logo"><h5>{{name}}</h5> </a>
                    {{/each}}   
                </div>
                
                <a href="" class="menu-button fa fa-bars fa-2x"></a>

                </nav>
    </div>
</div>