* {

    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}






.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-floating:hover {
  background-color: #26a69a;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 56px;
  height: 56px;
  padding: 0;
}

.btn-floating.btn-large.halfway-fab {
  bottom: -28px;
}

.btn-floating.btn-large i {
  line-height: 56px;
}

.btn-floating.btn-small {
  width: 32.4px;
  height: 32.4px;
}

.btn-floating.btn-small.halfway-fab {
  bottom: -16.2px;
}

.btn-floating.btn-small i {
  line-height: 32.4px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  bottom: -20px;
}

.btn-floating.halfway-fab.left {
  right: auto;
  left: 24px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 40px;
}




 

.invalid{
  border-color: #f55 !important;
}

.help-block {
  display: block;
  color: red;
  font-size: 10px;
}

.help-inline {
  display: none;
}

.hide{
  display: none;
  
}



.pull-right {
  float: right ;
  padding-right: 10px;
}


.container-listas {
  max-width: 1270;
}

@media only screen and (min-width: 500px) {
  .container-listas {
    width: 90%;
    float: right;
    
  }
}


.card-register {
  padding-top: 15px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .1rem;
  height:80px;
  text-align: center;
  
}
.guion {
  color: #ced4da;
  text-align: center;
}

.fb-logo{
  width: 7%;
}

.btn-padding{
  padding-top: 13px;
}

.olvidaste-password
{
  color:#385185;
  font-size:12px;
  padding-top: 20px;
  text-align:center;
  cursor: pointer;  
}

.sesion-fb{
  color:#385185;
  font-size:12px;
  padding-top: 20px;
  text-align:center;
  cursor: pointer;  
}

.sidenav.sidenav-chk {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: fixed;
  }


  pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
  }  
  html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }
/******************* Materialize * *****************/

.sidenav .collapsible,
.sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .sidenav .collapsible li,
  .sidenav.fixed .collapsible li {
    padding: 0;
  }
  
  .sidenav .collapsible-header,
  .sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
  }
  
  .sidenav .collapsible-header:hover,
  .sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav .collapsible-header i,
  .sidenav.fixed .collapsible-header i {
    line-height: inherit;
  }
  
  .sidenav .collapsible-body,
  .sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
  }
  
  .sidenav .collapsible-body li a,
  .sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
  }
  
  .collapsible.popout {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; 
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }

  .sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .sidenav .subheader:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.87);;
  }
  
  .sidenav .user-view > a {
    height: auto;
    padding: 0;
  }
  
  .sidenav .user-view > a:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    height: 34px;
    width: 34px;
  }


.collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
  }
  
  .collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  




  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }
  
  @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }
  
  @media only screen and (min-width: 993px) {
    .container {
      width: 70%;
    }
  }
  
  .col .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  
  .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .section.no-pad {
    padding: 0;
  }
  
  .section.no-pad-bot {
    padding-bottom: 0;
  }
  
  .section.no-pad-top {
    padding-top: 0;
  }
  
  .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row .col {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
  }
  
  .row .col[class*="push-"], .row .col[class*="pull-"] {
    position: relative;
  }
  
  .row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.offset-s1 {
    margin-left: 8.3333333333%;
  }
  
  .row .col.pull-s1 {
    right: 8.3333333333%;
  }
  
  .row .col.push-s1 {
    left: 8.3333333333%;
  }
  
  .row .col.offset-s2 {
    margin-left: 16.6666666667%;
  }
  
  .row .col.pull-s2 {
    right: 16.6666666667%;
  }
  
  .row .col.push-s2 {
    left: 16.6666666667%;
  }
  
  .row .col.offset-s3 {
    margin-left: 25%;
  }
  
  .row .col.pull-s3 {
    right: 25%;
  }
  
  .row .col.push-s3 {
    left: 25%;
  }
  
  .row .col.offset-s4 {
    margin-left: 33.3333333333%;
  }
  
  .row .col.pull-s4 {
    right: 33.3333333333%;
  }
  
  .row .col.push-s4 {
    left: 33.3333333333%;
  }
  
  .row .col.offset-s5 {
    margin-left: 41.6666666667%;
  }
  
  .row .col.pull-s5 {
    right: 41.6666666667%;
  }
  
  .row .col.push-s5 {
    left: 41.6666666667%;
  }
  
  .row .col.offset-s6 {
    margin-left: 50%;
  }
  
  .row .col.pull-s6 {
    right: 50%;
  }
  
  .row .col.push-s6 {
    left: 50%;
  }
  
  .row .col.offset-s7 {
    margin-left: 58.3333333333%;
  }
  
  .row .col.pull-s7 {
    right: 58.3333333333%;
  }
  
  .row .col.push-s7 {
    left: 58.3333333333%;
  }
  
  .row .col.offset-s8 {
    margin-left: 66.6666666667%;
  }
  
  .row .col.pull-s8 {
    right: 66.6666666667%;
  }
  
  .row .col.push-s8 {
    left: 66.6666666667%;
  }
  
  .row .col.offset-s9 {
    margin-left: 75%;
  }
  
  .row .col.pull-s9 {
    right: 75%;
  }
  
  .row .col.push-s9 {
    left: 75%;
  }
  
  .row .col.offset-s10 {
    margin-left: 83.3333333333%;
  }
  
  .row .col.pull-s10 {
    right: 83.3333333333%;
  }
  
  .row .col.push-s10 {
    left: 83.3333333333%;
  }
  
  .row .col.offset-s11 {
    margin-left: 91.6666666667%;
  }
  
  .row .col.pull-s11 {
    right: 91.6666666667%;
  }
  
  .row .col.push-s11 {
    left: 91.6666666667%;
  }
  
  .row .col.offset-s12 {
    margin-left: 100%;
  }
  
  .row .col.pull-s12 {
    right: 100%;
  }
  
  .row .col.push-s12 {
    left: 100%;
  }
  
  @media only screen and (min-width: 601px) {
    .row .col.m1 {
      width: 8.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m2 {
      width: 16.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m4 {
      width: 33.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m5 {
      width: 41.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m7 {
      width: 58.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m8 {
      width: 66.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m10 {
      width: 83.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m11 {
      width: 91.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.offset-m1 {
      margin-left: 15.3333333333%;
    }
    .row .col.pull-m1 {
      right: 15.3333333333%;
    }
    .row .col.push-m1 {
      left: 15.3333333333%;
    }
    .row .col.offset-m2 {
      margin-left: 16.6666666667%;
    }
    .row .col.pull-m2 {
      right: 16.6666666667%;
    }
    .row .col.push-m2 {
      left: 16.6666666667%;
    }
    .row .col.offset-m3 {
      margin-left: 25%;
    }
    .row .col.pull-m3 {
      right: 25%;
    }
    .row .col.push-m3 {
      left: 25%;
    }
    .row .col.offset-m4 {
      margin-left: 33.3333333333%;
    }
    .row .col.pull-m4 {
      right: 33.3333333333%;
    }
    .row .col.push-m4 {
      left: 33.3333333333%;
    }
    .row .col.offset-m5 {
      margin-left: 41.6666666667%;
    }
    .row .col.pull-m5 {
      right: 41.6666666667%;
    }
    .row .col.push-m5 {
      left: 41.6666666667%;
    }
    .row .col.offset-m6 {
      margin-left: 50%;
    }
    .row .col.pull-m6 {
      right: 50%;
    }
    .row .col.push-m6 {
      left: 50%;
    }
    .row .col.offset-m7 {
      margin-left: 58.3333333333%;
    }
    .row .col.pull-m7 {
      right: 58.3333333333%;
    }
    .row .col.push-m7 {
      left: 58.3333333333%;
    }
    .row .col.offset-m8 {
      margin-left: 66.6666666667%;
    }
    .row .col.pull-m8 {
      right: 66.6666666667%;
    }
    .row .col.push-m8 {
      left: 66.6666666667%;
    }
    .row .col.offset-m9 {
      margin-left: 75%;
    }
    .row .col.pull-m9 {
      right: 75%;
    }
    .row .col.push-m9 {
      left: 75%;
    }
    .row .col.offset-m10 {
      margin-left: 83.3333333333%;
    }
    .row .col.pull-m10 {
      right: 83.3333333333%;
    }
    .row .col.push-m10 {
      left: 83.3333333333%;
    }
    .row .col.offset-m11 {
      margin-left: 91.6666666667%;
    }
    .row .col.pull-m11 {
      right: 91.6666666667%;
    }
    .row .col.push-m11 {
      left: 91.6666666667%;
    }
    .row .col.offset-m12 {
      margin-left: 100%;
    }
    .row .col.pull-m12 {
      right: 100%;
    }
    .row .col.push-m12 {
      left: 100%;
    }
  }
  
  @media only screen and (min-width: 993px) {
    .row .col.l1 {
      width: 8.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l2 {
      width: 16.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l4 {
      width: 33.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l5 {
      width: 41.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l7 {
      width: 58.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l8 {
      width: 66.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l10 {
      width: 83.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l11 {
      width: 91.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.offset-l1 {
      margin-left: 8.3333333333%;
    }
    .row .col.pull-l1 {
      right: 8.3333333333%;
    }
    .row .col.push-l1 {
      left: 8.3333333333%;
    }
    .row .col.offset-l2 {
      margin-left: 16.6666666667%;
    }
    .row .col.pull-l2 {
      right: 16.6666666667%;
    }
    .row .col.push-l2 {
      left: 16.6666666667%;
    }
    .row .col.offset-l3 {
      margin-left: 25%;
    }
    .row .col.pull-l3 {
      right: 25%;
    }
    .row .col.push-l3 {
      left: 25%;
    }
    .row .col.offset-l4 {
      margin-left: 33.3333333333%;
    }
    .row .col.pull-l4 {
      right: 33.3333333333%;
    }
    .row .col.push-l4 {
      left: 33.3333333333%;
    }
    .row .col.offset-l5 {
      margin-left: 41.6666666667%;
    }
    .row .col.pull-l5 {
      right: 41.6666666667%;
    }
    .row .col.push-l5 {
      left: 41.6666666667%;
    }
    .row .col.offset-l6 {
      margin-left: 50%;
    }
    .row .col.pull-l6 {
      right: 50%;
    }
    .row .col.push-l6 {
      left: 50%;
    }
    .row .col.offset-l7 {
      margin-left: 58.3333333333%;
    }
    .row .col.pull-l7 {
      right: 58.3333333333%;
    }
    .row .col.push-l7 {
      left: 58.3333333333%;
    }
    .row .col.offset-l8 {
      margin-left: 66.6666666667%;
    }
    .row .col.pull-l8 {
      right: 66.6666666667%;
    }
    .row .col.push-l8 {
      left: 66.6666666667%;
    }
    .row .col.offset-l9 {
      margin-left: 75%;
    }
    .row .col.pull-l9 {
      right: 75%;
    }
    .row .col.push-l9 {
      left: 75%;
    }
    .row .col.offset-l10 {
      margin-left: 83.3333333333%;
    }
    .row .col.pull-l10 {
      right: 83.3333333333%;
    }
    .row .col.push-l10 {
      left: 83.3333333333%;
    }
    .row .col.offset-l11 {
      margin-left: 91.6666666667%;
    }
    .row .col.pull-l11 {
      right: 91.6666666667%;
    }
    .row .col.push-l11 {
      left: 91.6666666667%;
    }
    .row .col.offset-l12 {
      margin-left: 100%;
    }
    .row .col.pull-l12 {
      right: 100%;
    }
    .row .col.push-l12 {
      left: 100%;
    }
  }


/******************* Materialize * *****************/



.RedesSociales{
  text-decoration: #385185;
  padding:0;
}


.logo{
    /* width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    vertical-align: middle;    
    border-radius: 50%; */
  display: inline-block;
  position: center;
  width: 105px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;      
  margin-right: 22px;  
}
.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

nav.top-nav {
    height: 90px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    /* background-color: #34495e; */
    background-color:transparent; 
  
  }

  nav.profile-nav {
    height: 35px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    background-color: #34495e;  
  }

body{
    background: #edf0f1;
    line-height:18px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 2px;    
}


header, main, footer {
    padding-left: 300px;
}
.btn-slide{
  color: rgba(0, 0, 0, 0.87);
}

.btn-slide-izquierda{
  display: none;

}

.btn-menu{
    /* display: none;     */
    padding: 20px;
    background:#34495e;
    color: rgba(0, 0, 0, 0.87);
    
}

.btn-menu .icono {
    float: right;
}

.contenedor-menu {  
    min-width: 300px;
    margin: 10px;
    display: inline-block;
    right: 0;
    left: auto;
}


.contenedor-menu .contenedor-fixed.right-aligned {
    right: 0;
    left: auto;
}

  

.contenedor-menu .menu{
    width:100%;
}

.contenedor-menu ul {
    list-style:none;
}

.contenedor-menu .menu li a {
    color: #494949;
    display: block;
    padding: 15px 20px;
    background: #e9e9e9;
}


.contenedor-menu .menu li a:hover {
    background: #34495e; 
    color: #e9e9e9;
}

.contenedor-menu .menu .icono {
    font-size: 12px;
    line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda {
    float: left;
    margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha {
    float: right;
    margin-left: 10px;
}

.contenedor-menu .menu ul {
    display: block;


}

.contenedor-menu .menu ul li a {
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 32px;

}

.contenedor-menu .menu .activado > a {
    background: #34495e;
    color: #fff;
}


@media screen  and (max-width:450px) {
    body{
        padding-top: 80px;
    }
    .contenedor-menu {
        margin:0;
        width:100%;
        position: fixed;
        top: 0;
        z-index:1000;
    }
    .btn-menu {
        display: block;
    }

    .contenedor-menu .menu{
        display: none;
    }
}